index.jade
doctype html
//- New title ideas: Storyline - The stories that make up your own.
//- Tagline: Let us help you remember the stories that make up your own
//- Concept:
//- The stories we read, watch, and play are a big part of our own story. 
//- Collect your favorite stories in one place. Everything is part of a 
//- story.

mixin story-panel(title, type, year)
    li.story-panel-item
        if (year=='')
            div.time-spacer
                h4.year
        else
            div.time-point
                h4.year= year
        if type == "Anime"
            div.media-details.anime-media
                h4.media-type
                    | Anime 
                p.media-name= title
        else if type == "Manga"
            div.media-details.manga-media
                h4.media-type
                    | Manga 
                p.media-name= title
        else if type == "Ranobe"
            div.media-details.ranobe-media
                h4.media-type
                    | Light Novel
                p.media-name= title
        else if type == "Game"
            div.media-details.game-media
                h4.media-type
                    | Game 
                p.media-name= title



head
    meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")
    link(rel="stylesheet", href="stylesheets/screen.css")

    title 
        | Storyline - The stories that make up your own.
body
    div#content
        header  
            img#logo(src='images/storyline-header-logo.png')
            nav#navbar
                a(href="#")#your-story
                    | Nick
                    i.fa.fa-user


        section#main
            section#banner
                div#title-bar
                    h2#title

            section#info
                div#info-data
                    h3#demographic.info-datum 
                        | a 
                        a(href='#')
                    h3#genre.info-datum
                        a(href='#')
                        |  story
                    h3#creator.info-datum
                        | by 
                        a(href='#')

            section#storyline
                ul#story-panel-list
                    +story-panel('Sword Art Online II', 'Anime', '')
                    +story-panel('Sword Art Online: Hollow Fragment', 'Game', '2014')
                    +story-panel('Sword Art Online: Infinity Moment', 'Game', '')
                    +story-panel('Sword Art Online: Progressive', 'Manga', '')
                    +story-panel('Sword Art Online Girls Ops', 'Manga', '2013')
                    +story-panel('Sword Art Online: Progressive', 'Ranobe', '')
                    +story-panel('Sword Art Online', 'Anime', '')
                    +story-panel('Sword Art Online: Fairy Dance', 'Manga', '2012')
                    +story-panel('Sword Art Online: 4-Koma', 'Manga', '')
                    +story-panel('Sword Art Online: Aincrad', 'Manga', '2010')
                    +story-panel('Sword Art Online', 'Ranobe', '2009')
        footer
            p 
                | This is the footer.

index.html
<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel="stylesheet" href="stylesheets/screen.css">
  <title>
     
    Storyline - The stories that make up your own.
  </title>
</head>
<body>
  <div id="content">
    <header> <img id="logo" src="images/storyline-header-logo.png">
      <nav id="navbar"><a href="#" id="your-story">Nick<i class="fa fa-user"></i></a></nav>
    </header>
    <section id="main">
      <section id="banner">
        <div id="title-bar">
          <h2 id="title"></h2>
        </div>
      </section>
      <section id="info">
        <div id="info-data">
          <h3 id="demographic" class="info-datum">
             
            a <a href="#"></a>
          </h3>
          <h3 id="genre" class="info-datum"><a href="#"></a> story</h3>
          <h3 id="creator" class="info-datum">by <a href="#"></a></h3>
        </div>
      </section>
      <section id="storyline">
        <ul id="story-panel-list">
          <li class="story-panel-item">
            <div class="time-spacer">
              <h4 class="year"></h4>
            </div>
            <div class="media-details anime-media">
              <h4 class="media-type">Anime </h4>
              <p class="media-name">Sword Art Online II</p>
            </div>
          </li>
          <li class="story-panel-item">
            <div class="time-point">
              <h4 class="year">2014</h4>
            </div>
            <div class="media-details game-media">
              <h4 class="media-type">Game </h4>
              <p class="media-name">Sword Art Online: Hollow Fragment</p>
            </div>
          </li>
          <li class="story-panel-item">
            <div class="time-spacer">
              <h4 class="year"></h4>
            </div>
            <div class="media-details game-media">
              <h4 class="media-type">Game </h4>
              <p class="media-name">Sword Art Online: Infinity Moment</p>
            </div>
          </li>
          <li class="story-panel-item">
            <div class="time-spacer">
              <h4 class="year"></h4>
            </div>
            <div class="media-details manga-media">
              <h4 class="media-type">Manga </h4>
              <p class="media-name">Sword Art Online: Progressive</p>
            </div>
          </li>
          <li class="story-panel-item">
            <div class="time-point">
              <h4 class="year">2013</h4>
            </div>
            <div class="media-details manga-media">
              <h4 class="media-type">Manga </h4>
              <p class="media-name">Sword Art Online Girls Ops</p>
            </div>
          </li>
          <li class="story-panel-item">
            <div class="time-spacer">
              <h4 class="year"></h4>
            </div>
            <div class="media-details ranobe-media">
              <h4 class="media-type">Light Novel</h4>
              <p class="media-name">Sword Art Online: Progressive</p>
            </div>
          </li>
          <li class="story-panel-item">
            <div class="time-spacer">
              <h4 class="year"></h4>
            </div>
            <div class="media-details anime-media">
              <h4 class="media-type">Anime </h4>
              <p class="media-name">Sword Art Online</p>
            </div>
          </li>
          <li class="story-panel-item">
            <div class="time-point">
              <h4 class="year">2012</h4>
            </div>
            <div class="media-details manga-media">
              <h4 class="media-type">Manga </h4>
              <p class="media-name">Sword Art Online: Fairy Dance</p>
            </div>
          </li>
          <li class="story-panel-item">
            <div class="time-spacer">
              <h4 class="year"></h4>
            </div>
            <div class="media-details manga-media">
              <h4 class="media-type">Manga </h4>
              <p class="media-name">Sword Art Online: 4-Koma</p>
            </div>
          </li>
          <li class="story-panel-item">
            <div class="time-point">
              <h4 class="year">2010</h4>
            </div>
            <div class="media-details manga-media">
              <h4 class="media-type">Manga </h4>
              <p class="media-name">Sword Art Online: Aincrad</p>
            </div>
          </li>
          <li class="story-panel-item">
            <div class="time-point">
              <h4 class="year">2009</h4>
            </div>
            <div class="media-details ranobe-media">
              <h4 class="media-type">Light Novel</h4>
              <p class="media-name">Sword Art Online</p>
            </div>
          </li>
        </ul>
      </section>
    </section>
    <footer>
      <p>
         
        This is the footer.
      </p>
    </footer>
  </div>
</body>
